{% extends "blog/base.html" %}

{% block content %}
<h2>Error</h2>
<div name=date>
    <p>Usted no es el autor del post y no tiene los permisos necesarios para realizar esta accion</p>
</div>
{% endblock %}