{% extends "blog/base.html" %}

{% block content %}
<h2>Login</h2>
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Login</button>
    </form>
{% endblock %}