{% extends "blog/base.html" %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <div class="date">
            {{ post.author }}
        </div>

        {% if user.is_authenticated %}

        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-default" href="{% url 'post_del' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>

        {% endif %}

        <h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>

    </div>

    <h1>Commentarios</h1>
    {% if user.is_authenticated %}
        <form method="POST" class="post-form" id="CommentForm">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Submit</button>
        </form>
    {% endif %}
        
    <div class="comments" id="comments">
        
        {% block javascript %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
        <script>
            $(document).ready(function () {
                $('#CommentForm').submit(function () {
                    $.ajax({
                        data: $(this).serialize(),
                        type: $(this).attr('method'),
                        url: "{% url 'post_detail' pk=post.pk %}",
                        // on success
                        success: function (response) {
                            const comment_template = `<div class="comment">
                                    <div class="date"> ${response.comment["create_date"]}
                                        <a class="btn btn-default" href="/comment/29/edit/"><span class="glyphicon glyphicon-pencil"></span></a>
                                        <a class="btn btn-default" href="/comment/29/del/"><span class="glyphicon glyphicon-remove"></span></a>
                                    </div>
                                    <div class="author">
                                        ${response.comment["author"]}
                                    </div>
                                    <h3 class="title">Title: ${response.comment["title"]}</h3>
                                    <p class="content">Content: ${response.comment["text"]}</p>
                                </div>`;
                            $(comment_template).prependTo('#comments');
                        },
                        // on error
                        error: function (response) {
                            alert("Error al agregar el comentario");
                        }
                    });
                    return false;
                });
            })
        </script>
        {% endblock javascript %}

        {% for comment in comments %}
            <div class="comment">
                <div class="date">
                    {{ comment.create_date }}
                    {% if user.is_authenticated %}
    
                    <a class="btn btn-default" href="{% url 'comment_edit' pk=comment.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="btn btn-default" href="{% url 'comment_del' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
    
                    {% endif %}
                </div>
                <div class="author">
                    {{ comment.author }}
                </div>
                <h3 class="title">Title: {{ comment.title }}</h3>
                <p class="content">Content: {{ comment.text|linebreaksbr}}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}